@tailwind base;
@tailwind components;
@tailwind utilities;

.font-manrope-500 {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-manrope-700 {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 640px) {
  #social-links:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217 19% 35%);
  }
}
